<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/icon/favicon.ico">
    <title>Construction</title>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap-3.3.4/css/bootstrap.min.css" type='text/css'>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
	<script src="assets/js/modernizr.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="assets/js/html5shiv.min.js"></script>
          <script src="assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<!-- Fixed navbar -->
<header class="top-bar">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12">
			<ul class="list-inline top-contact pull-left">
  				<li><a href="#"><i class="fa fa-phone fa-fw"></i> +49 123 456 789</a></li>
                <li><a href="#"><i class="fa fa-envelope-o fa-fw"></i> <a href="#">support-constrion@email.com</a></li>
  			</ul>
            <ul class="list-inline social-links pull-right">
                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li class="vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                <li class="google"><a href="#"><i class="fa fa-google"></i></a></li>
                <li class="deviantart"><a href="#"><i class="fa fa-deviantart"></i></a></li>
  			</ul>
            </div>
        </div>
    </div>
</header>
<nav class="navbar main-menu navbar-default" role="navigation">
<div id="sticker">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#" title="logo"><img src="assets/images/logo.png" alt="logo" /></a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" id="menu">
        <li class="dropdown active"><a class="dropdown-toggle hvr-overline-from-center" href="index.html">Home <span class="caret"></span></a>
        	<ul class="dropdown-menu" role="menu">
            <li><a href="home-1.html">Home One</a></li>
            <li><a href="home-2.html">Home Two</a></li>
          </ul>
        </li>
        <li><a class="hvr-overline-from-center" href="services.html"> FEATURES </a></li>
        <li><a class="hvr-overline-from-center" href="portfolio.html">WORKS </a></li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle hvr-overline-from-center" data-toggle="dropdown" role="button" aria-expanded="false">PAGES <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="about.html">About</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="blog.html" class="dropdown-toggle hvr-overline-from-center">Blog <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="blog.html">Blog</a></li>
            <li><a href="single.html">Single</a></li>
          </ul>
        </li>
        
        <li><a class="hvr-overline-from-center" href="contact.html">Contact Us</a></li>
      </ul>
    </div>
    </div>
    <!--/.nav-collapse --> 
  </div>
</nav>

<section id="slider">
<div id="rev_slider_13_1_wrapper" class="rev_slider_wrapper fullscreen-container">
		<div id="rev_slider_13_1" class="rev_slider fullscreenbanner" style="display:none;">
  <ul>
    <li
data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="assets/images/slider/slider-img.jpg" data-delay="13000"  data-saveperformance="off"  data-title="Architecture Design"> <img
src="assets/images/slider/slider-img.jpg"  alt="Architecture Design" data-bgposition="left center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
	<div class="caption sfl h2"  data-x="40" data-y="200" data-speed="700" data-start="1700" data-easing="easeOutBack"><h2>Working on architecture interior design</h2></div>
   	<div class="caption sfl p"  data-x="40" data-y="260" data-speed="500" data-start="1900" data-easing="easeOutBack">We are working on the best solution for a good construction</div>
   	<div class="caption sfl"  data-x="40" data-y="325" data-speed="300" data-start="2000"><div class="btn-group">
                          <a href="#" class="btn hvr-bounce-to-right slide-btn">BUY THIS TEMPLATE</a>
                          <a href="#" class="btn slide-btn arrow"><i class="fa fa-long-arrow-right"></i></a>
                        </div></div>
    </li>
    <li
data-transition="slidedown" data-slotamount="1" data-masterspeed="1500" data-thumb="assets/images/slider/slider-img-1.jpg" data-delay="15000"  data-saveperformance="off"  data-title="Building Cleanings"> <img
src="assets/images/slider/slider-img-1.jpg"  alt="Building Cleanings" data-bgposition="center top" data-kenburns="on" data-duration="16000" data-ease="Linear.easeNone" data-bgfit="110" data-bgfitend="100" data-bgpositionend="center center">
      <div class="caption sft h2"  data-x="40" data-y="200" data-speed="700" data-start="1700" data-easing="easeOutBack"><h2>Working on architecture interior design</h2></div>
   	<div class="caption sfb p"  data-x="40" data-y="260" data-speed="500" data-start="1900" data-easing="easeOutBack">We are working on the best solution for a good construction</div>
   	<div class="caption sfl"  data-x="40" data-y="325" data-speed="300" data-start="2000"><div class="btn-group">
                          <a href="#" class="btn hvr-bounce-to-right slide-btn">BUY THIS TEMPLATE</a>
                          <a href="#" class="btn slide-btn arrow"><i class="fa fa-long-arrow-right"></i></a>
                        </div></div>
    </li>
    <li
data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="assets/images/slider/slider-img-2.jpg" data-delay="15000"  data-saveperformance="off"  data-title="Construction Tools"> <img
src="assets/images/slider/slider-img-2.jpg"  alt="Construction Tools" data-bgposition="left top" data-kenburns="on" data-duration="16000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right bottom">
      <div class="caption sfr h2"  data-x="40" data-y="200" data-speed="700" data-start="1700" data-easing="easeOutBack"><h2>Working on architecture interior design</h2></div>
   	<div class="caption sfr p"  data-x="40" data-y="260" data-speed="500" data-start="1900" data-easing="easeOutBack">We are working on the best solution for a good construction</div>
   	<div class="caption sfb"  data-x="40" data-y="325" data-speed="300" data-start="2000"><div class="btn-group">
                          <a href="#" class="btn hvr-bounce-to-right slide-btn">BUY THIS TEMPLATE</a>
                          <a href="#" class="btn slide-btn arrow"><i class="fa fa-long-arrow-right"></i></a>
                        </div></div>
    </li>
    
  </ul>
  
</div>
</div>

		
</section>

<section class="services-grid">
<div class="container">
	<div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="thumbnail wow fadeInLeft" data-wow-duration="0.4s" data-wow-delay="0.4s">
        <h4 class="category">Architecture Design</h4>
          <img src="assets/images/services/services-1.jpg" class="img-responsive hvr-glow" alt="services-1">
          <div class="caption">
            <h3>Creating powerful buildings</h3>
            <p>Using the outcomes from the Company Analysis, we will put together a plan for the most effective marketing strategy to get the best results for your business.</p>
            
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="thumbnail wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
        <h4 class="category">Building Cleanings</h4>
         <img src="assets/images/services/services-2.jpg" class="img-responsive hvr-glow" alt="services-2">
          <div class="caption">
            <h3>Building the path to your home</h3>
            <p>We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</p>
            
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="thumbnail wow fadeInRight" data-wow-duration="0.4s" data-wow-delay="0.4s">
        <h4 class="category">Construction Tools</h4>
          <img src="assets/images/services/services-3.jpg" class="img-responsive hvr-glow" alt="services-3">
          <div class="caption">
            <h3>Conception planning for buildings</h3>
            <p>We have the skills and resources to create professional films. Whether you want a corporate promotional film or a record of a conference we can provide the services you require.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
</section>
<section id="projects">
        <div class="container">
        	<div class="row">
    			<div class="col-md-12">
                	<div class="wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s">
                <h2 class="heading-bg pull-left">OUR PROJECTS <span class="shape"></span></h2>
                    <ul class="projects-filter pull-right">
                            <li><a class="btn active margin-5" href="#" data-filter="*">All</a></li>
                            <li><a class="btn margin-5" href="#" data-filter=".architecture">ARCHITECURE</a></li>
                            <li><a class="btn margin-5" href="#" data-filter=".interior">INTERIOR DESIGN</a></li>
                            <li><a class="btn margin-5" href="#" data-filter=".workspace">WORKPSACES</a></li>
                            <li><a class="btn margin-5" href="#" data-filter=".office">OFFICE BUILDING</a></li>
                        </ul>
                        </div>
        </div>
    </div>
    	</div>
<div class="projects-grid">
                    <ul class="projects-items col-4 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                        <li class="projects-item office">
                            <div class="item-main">
                                <div class="projects-image">
                                    <a class="preview" title="Image Title Here" href="assets/images/projects/project-1.jpg"><img src="assets/images/projects/thumbs/project-1.jpg" class="hvr-grow-rotate" alt="" /></a>
                                    <div class="overlay">
                                    	<p>Interior Office Designs <span class="pull-right">02 / 03 / 2014</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                       
                        <li class="projects-item  workspace">
                            <div class="item-main">
                                <div class="projects-image">
                                    <a class="preview" title="Image Title Here" href="assets/images/projects/project-2.jpg"><img src="assets/images/projects/thumbs/project-2.jpg" class="hvr-grow-rotate" alt="" /></a>
                                    <div class="overlay">
                                        <p>Workspace Designs <span class="pull-right">02 / 03 / 2014</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="projects-item  interior ">
                            <div class="item-main">
                                <div class="projects-image">
                                    <a class="preview" title="Image Title Here" href="assets/images/projects/project-3.jpg"><img src="assets/images/projects/thumbs/project-3.jpg" class="hvr-grow-rotate" alt="" /></a>
                                    <div class="overlay">
                                        <p>Interior Designs <span class="pull-right">02 / 03 / 2014</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="projects-item architecture">
                            <div class="item-main">
                                <div class="projects-image">
                                    <a class="preview" title="Image Title Here" href="assets/images/projects/project-4.jpg"><img src="assets/images/projects/thumbs/project-4.jpg" class="hvr-grow-rotate" alt="" /></a>

                                    <div class="overlay">
                                        <p>Architecture Designs <span class="pull-right">02 / 03 / 2014</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="projects-item architecture">
                            <div class="item-main">
                                <div class="projects-image">
                                    <a class="preview" title="Image Title Here" href="assets/images/projects/project-5.jpg"><img src="assets/images/projects/thumbs/project-5.jpg" class="hvr-grow-rotate" alt="" /></a>
                                    <div class="overlay">
                                        <p>Architecture Designs <span class="pull-right">02 / 03 / 2014</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="projects-item office workspace">
                            <div class="item-main">
                                <div class="projects-image">
                                    <a class="preview" title="Image Title Here" href="assets/images/projects/project-6.jpg"><img src="assets/images/projects/thumbs/project-6.jpg" class="hvr-grow-rotate" alt=""></a>
                                    <div class="overlay">
                                        <p>Workspace Designs <span class="pull-right">02 / 03 / 2014</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="projects-item office">
                           <div class="item-main">
                                <div class="projects-image">
                                    <a class="preview" title="Image Title Here" href="assets/images/projects/project-7.jpg"><img src="assets/images/projects/thumbs/project-7.jpg" class="hvr-grow-rotate" alt=""/></a>
                                    <div class="overlay">
                                        <p>Interior Office Designs <span class="pull-right">02 / 03 / 2014</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="projects-item office">
                           <div class="item-main">
                                <div class="projects-image">
                                    <a class="preview" title="Image Title Here" href="assets/images/projects/project-8.jpg"><img src="assets/images/projects/thumbs/project-8.jpg" class="hvr-grow-rotate" alt=""></a>
                                    <div class="overlay">
                                        <p>Interior Office Designs <span class="pull-right">02 / 03 / 2014</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                         
                    </ul>
</div>        
</section>
<section class="bottom-line">
<div class="container">
    	<div class="row">
        	<div class="col-md-12">
            <h3>We are creating clean, powerful and secure architecture buildings to your needs <a href="#" class="btn white-line-btn hvr-bounce-to-right  pull-right btn-lg">GET A QUOTE</a></h3>
            </div>
        </div>
</div>        
</section>
<section class="about">
<div class="container">
    	<div class="row">
        	<div class="about-grid">
        	<div class="col-sm-4 col-md-4">
        	<h4 class="heading-line">What we do for you?</h4>
            <ul class="list-unstyled check-list">
              <li class="wow fadeInRight" data-wow-duration="0.2s" data-wow-delay="0.2s"><i class="fa fa-check"></i> Architecture Design Conception</li>
              <li class="wow fadeInRight" data-wow-duration="0.3s" data-wow-delay="0.3s"><i class="fa fa-check"></i> Creative Interior Design</li>
              <li class="wow fadeInRight" data-wow-duration="0.4s" data-wow-delay="0.4s"><i class="fa fa-check"></i> Clean House Buildings</li>
              <li class="wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s"><i class="fa fa-check"></i> Security for Buildings</li>
              <li class="wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="0.6s"><i class="fa fa-check"></i> Architecture for Office Buildings</li>
              <li class="wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.7s"><i class="fa fa-check"></i> Skyscraper Security Concepts</li>
            </ul>
		</div>
            <div class="col-sm-4 col-md-4">
                    <div class="thumbnail wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
                     <img src="assets/images/about_1.jpg" class="img-responsive hvr-glow" alt="about-1">
                      <div class="caption">
                        <h4 class="heading-line">Architecure promotions</h4>
                        <p>We have the expertise to create just the right web presence for you, which will be up to date to the latest web standards.</p>
                        
                      </div>
            		</div>
                </div>
            <div class="col-sm-4 col-md-4">
                    <div class="thumbnail wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.5s">
           				<div class="caption">
                <h4 class="heading-line">What we offer </h4>
                <p>We work with you and carry out research to understand your needs and the needs of your customers. We then identify the best way or ways.</p>
         
              </div>
             			<img src="assets/images/about_2.jpg" class="img-responsive hvr-glow" alt="about-2">
            		</div>
                </div>
            </div>
		</div>
</div>
</section>

<section class="team">
	<div class="container">
        <div class="row">
        <div class="col-sm-12 col-md-12">
            <h3 class="heading-line wow fadeInLeft" data-wow-duration="0.4s" data-wow-delay="0.4s">Meet our working team</h3>
            <div class="members-grid">
            	<div class="row">
                <div class="col-sm-6 col-md-3">
                <div class="thumbnail hvr-bounce-to-bottom wow fadeInLeft" data-wow-duration="0.4s" data-wow-delay="0.4s">
                    <a href="#">
                      <img src="assets/images/members/member_1.jpg" alt="members" class="hvr-grow" />
                    </a>
                    <div class="caption wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
                        <h3>Jack Johnson</h3>
                        <p>Building Worker</p>
                        <ul class="list-inline social-list">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-google"></i></a></li>
                        </ul>
                      </div>
                      </div>
                </div>
                <div class="col-sm-6 col-md-3">
                <div class="thumbnail hvr-bounce-to-bottom wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <a href="#">
                      <img src="assets/images/members/member_2.jpg" alt="members" class="hvr-grow" />
                    </a>
                    
                    <div class="caption wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
                        <h3>Garry Neville</h3>
                        <p>Mechanic Engineer</p>
                        <ul class="list-inline social-list">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-google"></i></a></li>
                        </ul>
                      </div>
                      </div>
                </div>
                <div class="col-sm-6 col-md-3">
                <div class="thumbnail hvr-bounce-to-bottom wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.6s">
                    <a href="#">
                      <img src="assets/images/members/member_3.jpg" alt="members" class="hvr-grow" />
                    </a>
                    <div class="caption wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
                        <h3>John Cadiline</h3>
                        <p>Electricity Engineer</p>
                        <ul class="list-inline social-list">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-google"></i></a></li>
                        </ul>
                      </div>
                      </div>
                </div>
                <div class="col-sm-6 col-md-3">
                <div class="thumbnail hvr-bounce-to-bottom wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.7s">
                    <a href="#">
                      <img src="assets/images/members/member_4.jpg" alt="members" class="hvr-grow" />
                    </a>
                    <div class="caption wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
                        <h3>David Gresshoff</h3>
                        <p>Architect</p>
                        <ul class="list-inline social-list">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-google"></i></a></li>
                        </ul>
                      </div>
                      </div>
                </div>
                </div>
              </div>
        </div>      
        </div>
    </div>
</section>
<section class="testimonial">
<div class="container">
    	<div class="row">
        	<div class="col-md-12">
            	<h2 class="heading-line text-center">What our clients say about us</h2>
                
                <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
  					<!-- Indicators -->
  						<ol class="carousel-indicators">
                            <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-testimonial" data-slide-to="1"></li>
                            <li data-target="#carousel-testimonial" data-slide-to="2"></li>
                          </ol>
  					<!-- Wrapper for slides -->
  						<div class="carousel-inner" role="listbox">
                            <div class="item active">
                              <div class="clients-name">
                              	<span class="testimonial_arrow_left"></span>
                                <span class="testimonial_arrow_right"></span>
                                <p><strong>Patrick Orsons</strong></p>
                                <p>Project Manager - Company AG</p>
                              </div>
                              <div class="carousel-caption">
                                <p>We believe that analysis of your company and your customers is key in responding effectively to your promotional needs and we will work with you to fully understand your business to achieve the greatest amount of publicity possible so that you can see a return from the advertising.</p>
                              </div>
                            </div>
                            <div class="item">
                              <div class="clients-name">
                              	<span class="testimonial_arrow_left"></span>
                                <span class="testimonial_arrow_right"></span>
                                <p><strong>Patrick Orsons</strong></p>
                                <p>Project Manager - Company AG</p>
                              </div>
                              <div class="carousel-caption">
                                <p>We believe that analysis of your company and your customers is key in responding effectively to your promotional needs and we will work with you to fully understand your business to achieve the greatest amount of publicity possible so that you can see a return from the advertising.</p>
                              </div>
                            </div>
                            <div class="item">
                              <div class="clients-name">
                              	<span class="testimonial_arrow_left"></span>
                                <span class="testimonial_arrow_right"></span>
                                <p><strong>Patrick Orsons</strong></p>
                                <p>Project Manager - Company AG</p>
                              </div>
                              <div class="carousel-caption">
                                <p>We believe that analysis of your company and your customers is key in responding effectively to your promotional needs and we will work with you to fully understand your business to achieve the greatest amount of publicity possible so that you can see a return from the advertising.</p>
                              </div>
                            </div>
                          </div>
  						
				</div>
            </div>
        </div>
</div>        
</section>
<section class="clients">
<div class="container">
    	<div class="row">
        	<div class="col-md-12">
            <h2 class="heading-line">Our most popular clients</h2>
        <div id="client-carousel">
              <div class="item"><a href="#"><img src="assets/images/clients/client_1.png" alt="clients"></a></div>
              <div class="item"><a href="#"><img src="assets/images/clients/client_2.png" alt="clients"></a></div>
              <div class="item"><a href="#"><img src="assets/images/clients/client_3.png" alt="clients"></a></div>
              <div class="item"><a href="#"><img src="assets/images/clients/client_4.png" alt="clients"></a></div>
              <div class="item"><a href="#"><img src="assets/images/clients/client_1.png" alt="clients"></a></div>
              <div class="item"><a href="#"><img src="assets/images/clients/client_2.png" alt="clients"></a></div>
              <div class="item"><a href="#"><img src="assets/images/clients/client_3.png" alt="clients"></a></div>
            </div>
        </div>
        </div>
</div>        
</section>
<section class="bottom-line twitter-carousel">
<div class="container">
    	<div class="row">
        	<div class="col-md-12">
            <div id="twitter-carousel">
              <div class="item"><p><i class="fa fa-twitter"></i> "Check out our new PSD template at themeforest.com http://litby.co" <a href="#">posted 2 days ago by Admin</a></p></div>
              <div class="item"><p><i class="fa fa-twitter"></i> "Check out our new PSD template at themeforest.com http://litby.co" <a href="#">posted 2 days ago by Admin</a></p></div>
              <div class="item"><p><i class="fa fa-twitter"></i> "Check out our new PSD template at themeforest.com http://litby.co" <a href="#">posted 2 days ago by Admin</a></p></div>
            </div>
            </div>
        </div>
</div>        
</section>

<footer>
	<div class="container">
    	<div class="row"> 
        	<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
            	<h4 class="heading-line">About Us</h4>
                <p>We work with clients big and small across a range of sectors and we utilise all forms of media to get your name out there in a way that's right for you. We believe that analysis of your company.</p>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
            	<h4 class="heading-line">Our Services</h4>
                <ul class="list-unstyled box-list">
                  <li><a href="#"><i class="fa fa-stop"></i> Architecture Design</a></li>
                  <li><a href="#"><i class="fa fa-stop"></i> Intrerior Design Conception</a></li>
                  <li><a href="#"><i class="fa fa-stop"></i> Strategy Plannings</a></li>
                  <li><a href="#"><i class="fa fa-stop"></i> House Building Planning</a></li>
                  <li><a href="#"><i class="fa fa-stop"></i> House Security Systems</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
            	<h4 class="heading-line">Twitter Feed</h4>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <p><a href="#">@constrion</a> We try to help all people, young, old...</p>
                    <span># 2 hours ago</span>
                  </div>
                </div>
    			<div class="media">
                  <div class="media-left">
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <p><a href="#">@constrion</a>  Building up a new department for medical des...</p>
                    <span># 2 hours ago</span>
                  </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
            	<h4 class="heading-line">Get in touch</h4>
                <ul class="list-unstyled contact-list">
                  <li class="address">147 Sixth Ave San Francisco, CA</li>
                  <li class="website"><a href="#"> http://www.constrion.com</a></li>
                  <li class="number"><a href="#">+49 123 456 798</a></li>
                  <li class="emails"><a href="#">support@email.com</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="footer-line">
<div class="container">
	<p>Copyright 2015 by <a href="#">Constrion</a> | All rights reserved</p>
    </div>
</div>    
</footer>

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    




    <!-- Bootstrap core JavaScript
        ================================================== --> 
    <!-- Placed at the end of the document so the pages load faster --> 
    <script src="assets/js/jquery-2.1.1.min.js"></script>
	<!-- bootstrap -->	
    <script src="assets/plugins/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    
    <!-- isotope -->
    <script src="assets/plugins/isotope/jquery.isotope.min.js"></script>
    
    <!-- wow -->
    <script src="assets/plugins/wow/wow.min.js"></script>
	 <!--slider-revolution JS-->
	<script src="assets/plugins/slider-revolution/tools.min.js"></script> 
	<script src="assets/plugins/slider-revolution/slider.revolution.min.js"></script>
    
    <!-- prettyPhoto -->
    <script src="assets/plugins/prettyPhoto/jquery.prettyPhoto.js"></script>
    
    <!-- owl-carousel -->
	<script src="assets/plugins/owl-carousel/owl.carousel.js"></script>
    <!-- sticky -->
	<script src="assets/plugins/sticky/jquery.sticky.js"></script>
	
    <!-- Form Validation -->
    <script src="assets/plugins/jquery-validate/jquery.validate.min.js"></script>
   
    <!-- custom -->
    <script src="assets/js/app.js"></script>
    <script src="assets/js/slider-setting.js"></script>
</body>
</html>